*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #f5f5f5;
}
.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: #FFFFFF;
    margin-top: 50px;
    box-shadow: 0px 1px 10px
    rgba(0,0,0,0.4);
}
.titulo{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}
.sub-titulo{
    font-size: 30px;
    font-weight: 400;
}
.contenedor img{
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.contenedor p{
    margin-top: justify;
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
}
div.footer{
    width: 100%;
    height: 170px;
}
p.rights{
    position: relative;
    text-align: center;
    top: 60px;
    color: #000000;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .contenedor{
        width: 100%;
        padding: 21px;
    }
    .titulo{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .contenedor img {
        margin-right: 0px;
        width: 100%;
    }
}